/*** CUSTOM CODE ***/
body{
    width:100%;
    height:100%;
    background: #ffe5d4;
}

.clear {
    clear: both;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 1em 3em 1em 3em;
}

h1 br {
    display: none;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 2em;
    border-right: 1px solid black;
    padding-right: 1em;
}

nav li:last-child{
    border-right: none;
    padding-right: 0;
}

img {
    width: 100%;
}

section {
    height: 100%;
    position: relative;
    background: #f9f6f2;
    width: 100%;
}

section div {
    width: 40%;
    display: block;
    float: right;
    padding: 0 8% 0 2%;
}

section h2{
    max-width: 400px;
}

section div p{
    max-width: 400px;
    margin-bottom: 1em;
}

section aside{
    display: block;
    width: 40%;
    position: absolute;
    bottom: 0;
    float: left;
    padding: 0 2% 0 8%;
}

section figure{
    width: 50%;
    float: right;
    margin-bottom: 1.2em;
}

.pattern figure{
	width: 20em;
}

.pattern figure span{
	text-align: left;
}

section figcaption p{
    margin-bottom: 0.5em;
}

section.alternate{
    background: #98cee5;
}

section.alternate div{
    float: left;
    padding: 0 2% 0 8%;
}

section.alternate div h2,
section.alternate div p{
    margin: 0 0 0 auto;
}

section.alternate div p{
    margin-bottom: 1em;
}

section.alternate#beginnings aside.pattern {
    padding: 0 8% 0 2%;
    position: relative;
    height: 100vh;
    padding-top: 30vh;
    background-image: url("img/weingart_pattern_sized.jpg");
    background-size: cover;
}

header{
    padding: 2em 0 1em 0;
}

h2{
    font-size: 1.5em;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 0.05em;

}

figcaption{
    font-size: 0.7em;
    line-height: 1.2em;
    width: 11em;
    margin-bottom: 1em;
}

figcaption strong{
    font-weight: bold;
}

p{
    line-height: 1.4em;
    font-size: 0.95em;
}


.tk-le-monde-livre-std {
    font-family: "le-monde-livre-std", Times New Roman, serif;
    font-style: italic;
}

blockquote{
    font-size: 2em;
    line-height: 1.15em;
    background: #000;
    color: #fff;
    display: inline;
}

span{
    font-size: 0.6em;
    display: block;
    text-align: right;
    background: #000;
}

aside.pattern{
    background: url(weingart_pattern_sized.jpg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#Didacta-Eurodidact-Image img{
    display: block;
    margin: 2.5em auto;
    width: 60%;
}

section.alternate#The-Journey {
    background: #ffe5d4;
    height: 100vh;
}

section.alternate#The-Journey aside.japantrade {
    padding: 0 8% 0 2%;
    position: relative;
    left: 0;
    height: 100vh;
    padding-top: 2em;
}

section.alternate#The-Journey aside figcaption{
    margin-top: 1.3em
}

footer {
    background: #fff;
    color: #636363;
    position: fixed;
    bottom: 0px;
    width: 32%;
    opacity: 0.3;
}

footer p {
    font-size: .6em;
    padding: 1em;
}
