/*** CUSTOM CODE ***/
body{
    font-family: Helvetica, Arial, sans-serif;
    width:100%;
    height:100%;
    background: #ffe0c7;
}

.clear {
    clear: both;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 1em 3em 1em 3em;
}

h1 br {
    display: none;
}

ul {
/*    display: block;*/
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    background-color: #ffe5d4;*/
}

li {
    display: inline-block;
    padding: 1em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.3em;
/*    margin: 1.3em;*/
    text-decoration: none;
    transition: .3s linear;
}


/*
li a:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    background-color: #f2d4c0;
    opacity: 0.2;
}
*/

li a:hover {
    transition: .3s linear background;
/*    font-weight: bold;*/
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #f2d4c0;
}

nav li:last-child{
    border-right: none;
    padding-right: 0;
}

a:link{
    font-size: 0.95em;
    color: black;
    text-decoration: none;
}

a:visited{
    font-size: 0.95em;
    color: black;
    text-decoration: none;
}

/*
a:hover{
    background: #000;
    opacity: 0.2;
}
*/

img {
    width: 100%;
}

section {
/*    height: 100%;*/
    position: relative;
    background: #f9f6f2;
    width: 100vw%;
    padding-bottom: 4em;
}

section div {
    width: 40%;
    display: block;
    float: right;
    padding: 0 8% 0 2%;
}

section h2{
    max-width: 400px;
}

section div p{
    max-width: 400px;
    margin-bottom: 1em;
}

section aside{
    display: block;
    width: 40%;
    position: absolute;
    bottom: 0;
    float: left;
    padding: 0 2% 0 8%;
}

section figure{
    width: 50%;
    float: right;
    margin-bottom: 5.3em;
}

.quote figure{
	width: 26.5em;
}

.quote figure span{
	text-align: left;
}

section figcaption p{
    margin-bottom: 0.5em;
}

section.alternate#beginnings {
    padding-bottom: 2em;
    background: #7dd7ef;
}

section.alternate aside.quote figure{
    float: left;
    margin: 16em auto;
}

section.alternate div{
    float: left;
    padding: 0 2% 0 8%;
}

section.alternate div h2,
section.alternate div p{
    margin: 0 0 0 auto;
}

section.alternate div p{
    margin-bottom: 1em;
}

section.alternate#beginnings aside.quote {
    padding: 0 8% 0 2%;
    position: relative;
    height: 100vh;
    padding-top: 2em;
}
/*
section.alternate#beginnings aside.pattern {
    padding: 0 8% 0 2%;
    position: relative;
    height: 100vh;
    padding-top: 30vh;
    background-image: url("img/weingart_pattern_sized.jpg");
    background-size: cover;
}
*/

header{
    padding: 2em 0 1em 0;
}

h2{
    font-size: 1.5em;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 0.05em;

}

figcaption{
    font-size: 0.7em;
    line-height: 1.2em;
    width: 11em;
    margin-bottom: 1em;
}

figcaption strong{
    font-weight: bold;
}

p{
    line-height: 1.4em;
    font-size: 0.95em;
}


.tk-le-monde-livre-std {
    font-family: "le-monde-livre-std", Times New Roman, serif;
    font-style: italic;
}

blockquote {
    font-size: 3em;
    line-height: 1.15em;
    color: #fff;
    display: inline;
}

span{
    font-size: 0.6em;
    display: block;
    text-align: right;
}

section#Didacta-Eurodidact-Image{
    background: #e0e0e2;
}

section#Didacta-Eurodidact-Image img{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 3em 0 3em 0;
}

section.alternate#The-Journey {
    background: #ffe0c7;
/*    height: 58vh;*/
    height: 58vh;
}

section.alternate#The-Journey aside
section.alternate#The-Journey figure{
    margin: auto 0;
    padding: auto 0;
}

section.alternate#The-Journey aside.japantrade{
    padding: 0 8% 0 0%;
    position: relative;
/*    padding-top: 2em;*/
}

section.alternate#The-Journey aside.japantrade figure{
    float:left;
    padding-top: 2em;
}

section.alternate#The-Journey aside figcaption{
    margin-top: 1.3em
}

section#UCLA-Cover-Image img{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 3em 0 3em 0;
}


section.alternate#newwave {
    background: #7dd7ef;
/*    height: 100vh;*/
}

/*
section.alternate#newwave div.flowtext{
    padding: 0 8% 0 0%;
    position: relative;
    float: left;
    height: 100vh;
    padding-top: 4.5em;
}

section.alternate#newwave div.flowtext p{
    width: 400px;
}

section.alternate#newwave div.flowtext div{
    float:left;
    padding: 0;
}
*/



section.alternate#newwave aside
section.alternate#newwave figure{
    margin: auto 0;
    padding: auto 0;
}

section.alternate#newwave aside.dasplakat{
    padding: 0 8% 0 0%;
    position: relative;
/*    padding-top: 2em;*/
}

section.alternate#newwave aside.dasplakat figure{
    float:left;
    padding-top: 2em;
}

section.alternate#newwave aside.dasplakat figcaption{
    margin-top: 1.3em
}





section#Michael-Sohn-Grid-Image img{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 3em 0 3em 0;
}

section#Kunst-Kredit-Image img{
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 3em 0 3em 0;
}

div#facesig{
    width: 40%;
    margin: 4em auto;
    margin-bottom: 16em;
}

div#facesig img#sig{
    width: 70%;
    float: right;
}

footer {
    background: #fff;
    color: #636363;
    position: fixed;
    bottom: 0px;
    width: 32%;
    opacity: 0.3;
}

footer p {
    font-size: .6em;
    padding: 1em;
}



/**** MOBILE ****/

@media screen and (max-width: 600px){
    
nav ul li {
    float: none;
    position: relative;
    width: 100%;
    min-width: auto;
    max-width: none;
}
        
/*
nav ul li ul {
    position: static;
    height: 2em;
    overflow: hidden;
    display: block;
}
*/

}